.cmnBtn {
  background-color: #055f4f;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 40px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  display: block;
  transition: all 0.4s ease-in-out;
}
.cmnBtn:hover {
  background-color: #000;
}

.cmnSubhead {
  color: #00826a;
  font-size: 18px;
}

.cmnHeading {
  font-size: 40px;
  font-weight: 600;
  max-width: 550px;
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  .cmnHeading {
    font-size: 24px;
  }
}

.sentirMainHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}

.sentirMainHeader.scrolled {
  top: -30px;
}

.sentirMainHeader.scrolled .sentirNavbar {
  padding: 10px 0;
}
.sentirMainHeader.scrolled .sentirNavbar .navWrapper .logo img {
  max-width: 100px;
}
.sentirMainHeader.scrolled .sentirNavbar .navWrapper .menuWrapper ul .active a::before {
  top: 8;
}

.subHeader {
  background-image: linear-gradient(#0b3930, #00826a);
  padding: 5px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.subHeader .contacts {
  display: flex;
  align-items: center;
  height: 100%;
}
.subHeader .contacts li {
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  .subHeader .contacts li {
    margin-right: 10px;
  }
}
.subHeader .contacts li a {
  color: #fff;
  display: flex;
}
.subHeader .contacts li a span {
  font-size: 12px;
}
.subHeader .contacts li a img {
  max-width: 12px;
  margin-right: 5px;
}
.subHeader .social li {
  display: inline-block;
  margin-left: 8px;
}
.subHeader .social li img {
  max-width: 20px;
}

.sentirNavbar {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0 3px 20px 0px rgba(22, 133, 118, 0.32);
  transition: all 0.4s ease-in-out;
}
.sentirNavbar .navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sentirNavbar .navWrapper .logo img {
  max-width: 130px;
  transition: all 0.4s ease-in-out;
}
.sentirNavbar .navWrapper .menuWrapper ul li {
  display: inline-block;
  margin-left: 15px;
}
.sentirNavbar .navWrapper .menuWrapper ul li a {
  height: 100%;
  color: #959595;
  font-family: "Montserrat", sans-serif;
}
.sentirNavbar .navWrapper .menuWrapper ul .active a {
  color: #00826a;
  font-weight: 600;
  background-image: linear-gradient(rgba(0, 130, 106, 0.11), rgba(0, 130, 106, 0));
  padding: 28px 15px;
  position: relative;
}
.sentirNavbar .navWrapper .menuWrapper ul .active a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #00826a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .burger {
  background-image: url("../images/burger-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 0;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu {
  transform: translate(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 30px 50px;
  transition: all 0.4s ease-in-out;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#0b3930, #00826a);
  z-index: -1;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 124px;
  background-image: url("../images/leaf.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  filter: brightness(0) invert(1);
  opacity: 0.2;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu .head img {
  max-width: 160px;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu .head .burgerClose {
  background-image: url("../images/burger-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 0;
  position: relative;
  top: 10px;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu ul {
  margin-top: 85px;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu ul li {
  margin-top: 50px;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu ul li a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu ul li a span {
  font-weight: 700;
  margin-right: 10px;
  font-size: 16px;
}
.sentirNavbar .navWrapper .menuWrapperResponsive .mobileMenu.show {
  transform: translate(0);
}

.sentirBanner {
  margin-top: 112px;
}
.sentirBanner .carousel-item {
  background-image: url("../images/banner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 112px);
  position: relative;
}
@media only screen and (max-width: 991px) {
  .sentirBanner .carousel-item {
    height: calc(70vh - 112px);
  }
}
.sentirBanner .carousel-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 124px;
  background-image: url("../images/leaf.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.sentirBanner .carousel-item .bannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.sentirBanner .carousel-item .bannerContent h1 {
  font-size: 60px;
  font-weight: 700;
  max-width: 445px;
}
@media only screen and (max-width: 768px) {
  .sentirBanner .carousel-item .bannerContent h1 {
    font-size: 30px;
    max-width: 300px;
  }
}
.sentirBanner .carousel-item .bannerContent h2 {
  margin-top: 30px;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .sentirBanner .carousel-item .bannerContent h2 {
    font-size: 16px;
  }
}
.sentirBanner .carousel-item .bannerContent p {
  margin-top: 10px;
  max-width: 475px;
}
.sentirBanner .carousel-item .bannerContent a {
  margin-top: 30px;
}

.carousel-item:nth-child(2) {
  background-image: url("../images/img-2.webp");
}

.selcomeSection {
  padding: 100px 0;
}
.selcomeSection p {
  margin-top: 30px;
  text-align: justify;
}
@media only screen and (min-width: 991px) {
  .selcomeSection p {
    padding-right: 100px;
  }
}
.selcomeSection .cmnBtn {
  margin-top: 40px;
}
.selcomeSection .dotsWrapper {
  position: relative;
}
.selcomeSection .dots {
  background-image: url("../images/dots.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 62px;
  position: absolute;
  z-index: -1;
  top: 18px;
  right: -30px;
}
@media only screen and (max-width: 768px) {
  .selcomeSection .dots {
    right: 0;
  }
}
.selcomeSection .imgWrapper {
  position: relative;
  top: 50px;
  left: 0;
}
@media only screen and (max-width: 991px) {
  .selcomeSection .imgWrapper {
    margin: 30px 0;
  }
}
.selcomeSection .imgWrapper::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #055f4f;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.selcomeSection .imgWrapper img {
  border-radius: 5px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}
.selcomeSection .imgWrapper img:hover {
  position: relative;
  top: -8px;
  left: -8px;
}

.whatWeDo {
  background-image: url("../images/img-2.webp");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  z-index: 0;
}
@media only screen and (max-width: 991px) {
  .whatWeDo {
    background-attachment: unset;
  }
}
.whatWeDo .cmnHeading {
  color: #055f4f;
}
.whatWeDo .box {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}
.whatWeDo .box::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #055f4f;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.whatWeDo .box:hover {
  top: -5px;
  left: -5px;
}
.whatWeDo .box:hover::before {
  top: 5px;
  left: 5px;
}
.whatWeDo .box img {
  max-height: 80px;
}
.whatWeDo .box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}
.whatWeDo .box p {
  margin-top: 10px;
}

.productsWrapper {
  padding: 100px 0;
  background-image: linear-gradient(#ffffff, rgba(0, 130, 106, 0.1803921569));
}
@media only screen and (max-width: 768px) {
  .productsWrapper {
    padding-top: 50px;
  }
}
.productsWrapper h2 {
  text-align: center;
}
.productsWrapper h3 {
  margin: 15px auto 0;
  text-align: center;
}
.productsWrapper .dotsWrapper {
  position: relative;
}
.productsWrapper .dotsWrapper .dots {
  background-image: url("../images/dots.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 62px;
  position: absolute;
  z-index: -1;
  top: 180px;
  left: -30px;
}
@media only screen and (max-width: 768px) {
  .productsWrapper .dotsWrapper .dots {
    left: 0;
  }
}
.productsWrapper .owl-carousel {
  margin-top: 80px;
}
@media only screen and (max-width: 768px) {
  .productsWrapper .owl-carousel {
    margin-top: 40px;
  }
}
.productsWrapper .owl-carousel .imgWrapper {
  position: relative;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
}
.productsWrapper .owl-carousel .imgWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(5, 95, 79));
  transition: all 0.4s ease-in-out;
}
.productsWrapper .owl-carousel .imgWrapper:hover {
  transition: all 0.4s ease-in-out;
}
.productsWrapper .owl-carousel .imgWrapper:hover .content {
  top: 0;
  transform: translateY(0);
}
.productsWrapper .owl-carousel .imgWrapper:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(5, 95, 79, 0.45), rgb(5, 95, 79));
  z-index: 1;
}
.productsWrapper .owl-carousel .imgWrapper:hover img {
  scale: 1.2;
}
.productsWrapper .owl-carousel .imgWrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
.productsWrapper .owl-carousel .imgWrapper .content {
  position: absolute;
  top: 100%;
  transform: translateY(-70px);
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  color: #fff;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 3;
}
.productsWrapper .owl-carousel .imgWrapper .content h4 {
  font-size: 18px;
  font-weight: 600;
}
.productsWrapper .owl-carousel .imgWrapper .content p {
  margin-top: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}
.productsWrapper .btnWrapper button {
  margin: 50px auto 0;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    top: unset;
    bottom: -65px;
  }
}
.owl-carousel .owl-nav button {
  width: 40px;
  height: 40px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.owl-carousel .owl-nav button.owl-next {
  background-image: url("../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background-image: url("../images/arrow-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}
.owl-carousel .owl-nav button.owl-prev {
  background-image: url("../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  transform: rotate(180deg);
  margin-right: 15px;
}
.owl-carousel .owl-nav button.owl-prev:hover {
  background-image: url("../images/arrow-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}
.owl-carousel span {
  display: none;
}

.galleryWrapper {
  padding: 100px 0;
  position: relative;
}
.galleryWrapper::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/about.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
@media only screen and (max-width: 991px) {
  .galleryWrapper::before {
    background-attachment: unset;
  }
}
.galleryWrapper .cmnBtn {
  margin-top: 30px;
}
.galleryWrapper .dotsWrapper {
  position: relative;
}
.galleryWrapper .dotsWrapper .dots {
  background-image: url("../images/dots.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 62px;
  position: absolute;
  z-index: -1;
  top: 44px;
  left: -30px;
}
@media only screen and (max-width: 768px) {
  .galleryWrapper .dotsWrapper .dots {
    left: 0;
  }
}
.galleryWrapper .owl-carousel {
  margin-top: 80px;
}
.galleryWrapper .owl-carousel .galleryBox {
  position: relative;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.galleryWrapper .owl-carousel .galleryBox img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
.galleryWrapper .owl-carousel .galleryBox img:hover {
  scale: 1.2;
}

.clientsWrapper {
  padding: 100px 0;
}
@media only screen and (min-width: 768px) {
  .clientsWrapper .leftWrapper {
    padding-right: 100px;
  }
}
.clientsWrapper .cmnHeading {
  max-width: 360px;
}
.clientsWrapper p {
  margin-top: 15px;
  text-align: justify;
}
.clientsWrapper .logoWrapper {
  margin-bottom: 20px;
}
.clientsWrapper .logoWrapper img {
  transition: all 0.4s ease-in-out;
}
.clientsWrapper .logoWrapper:hover img {
  scale: 1.1;
}
.clientsWrapper .cmnBtn {
  margin-top: 40px;
}
.clientsWrapper .dotsWrapper {
  position: relative;
}
.clientsWrapper .dots {
  background-image: url("../images/dots.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 62px;
  position: absolute;
  z-index: -1;
  top: 15px;
  right: -30px;
}
@media only screen and (max-width: 768px) {
  .clientsWrapper .dots {
    right: 0;
  }
}
.clientsWrapper .imgWrapper {
  position: relative;
  top: 50px;
  left: 0;
}
.clientsWrapper .imgWrapper::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #055f4f;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.clientsWrapper .imgWrapper img {
  border-radius: 5px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}
.clientsWrapper .imgWrapper img:hover {
  position: relative;
  top: -8px;
  left: -8px;
}

.sentinFooter {
  padding: 50px 0;
  background-color: #055f4f;
  text-align: center;
}
.sentinFooter .logoWrapper img {
  max-width: 130px;
}
.sentinFooter p {
  max-width: 700px;
  margin: 30px auto;
  color: #fff;
  font-weight: 300;
}
.sentinFooter .social li {
  display: inline-block;
  margin-left: 8px;
}
.sentinFooter .social li img {
  max-width: 20px;
}

.subFooter {
  padding: 8px 0;
  background-color: #053028;
  text-align: center;
}
.subFooter p {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */